<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                MedicalJob
            {% endblock %}
        </title>
        <link rel="icon" href="{{ asset('build-front/images/favicon.ico', 'front') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app_website', null, 'websiteAppConfig') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app_website', null, 'websiteAppConfig') }}
        {% endblock %}
    </head>
    <body>
        <main>
            {% block header %}
                <nav class="py-2 bg-light border-bottom">
                    <div class="container d-flex flex-wrap">
                        <ul class="nav me-auto">
                            <li class="nav-item"><a href="{{ path('website_home') }}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
                            <li class="nav-item"><a href="{{ path('website_concorsi') }}" class="nav-link link-dark px-2">Concorsi</a></li>
                            <li class="nav-item"><a href="{{ path('website_lavoro') }}" class="nav-link link-dark px-2">Lavoro</a></li>
                            <li class="nav-item"><a href="{{ path('website_about_us') }}" class="nav-link link-dark px-2">Chi siamo</a></li>
                        </ul>
                        <ul class="nav">
{#                            <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link link-dark px-2">Login</a></li>#}
{#                            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>#}
                        </ul>
                    </div>
                </nav>
                <header class="py-3 mb-4 border-bottom">
                    <div class="container d-flex flex-wrap justify-content-center">
                        <a href="{{ path('website_home') }}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                            <span class="fs-4">MedicalJob</span>
                        </a>
{#                        <form class="col-12 col-lg-auto mb-3 mb-lg-0">#}
{#                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">#}
{#                        </form>#}
                    </div>
                </header>
            {% endblock %}

            {% block body %}{% endblock %}

            {% block footer %}
                <div class="container">
                    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                        <div class="col-md-4 d-flex align-items-center">
                            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                                <svg class="bi text-success" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                            </a>

                            <span class="text-muted">© 2021 Company, Inc</span>
                        </div>

                        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi text-info" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                        </ul>
                    </footer>
                </div>
            {% endblock %}
        </main>
    </body>
</html>
