{% extends '@backoffice/base.html.twig' %}

{% block title %}
    Gestione Feed rss | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ingesting', null, 'backofficeAppConfig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ingesting', null, 'backofficeAppConfig') }}
{% endblock %}


{% block main %}
    {% if useVue %}
        <div id="app"></div>
    {% else %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Ingesting</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <a  href="{{ path('backoffice_cli_command_ingesting_job') }}" class="btn btn-primary" role="button" aria-disabled="false">download rss job</a>

                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                        This week
                    </button>
                </div>
            </div>

            <h2>Rss concorsi</h2>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        {#                    <th>Content</th>#}
                        {#                    <th>PublicationStart</th>#}
                        {#                    <th>PublicationEnd</th>#}
                        {#                    <th>IsDraft</th>#}
                        {#                    <th>actions</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for feed in pager %}
                        <tr>
                            <td>{{ feed.id |u.truncate(8)}}</td>
                            <td>
                                <a href="{{ path('backoffice_ingesting_show_job_feed', {'id': feed.id}) }}" >{{ feed.title }}</a>
                            </td>
                            {#                        <td>{{ feed.content }}</td>#}
                            {#                        <td>{{ feed.publicationStart ? feed.publicationStart|date('Y-m-d H:i:s') : '' }}</td>#}
                            {#                        <td>{{ feed.publicationEnd ? feed.publicationEnd|date('Y-m-d H:i:s') : '' }}</td>#}
                            {#                        <td>{{ feed.isDraft ? 'Yes' : 'No' }}</td>#}
                            {#                        <td>#}
                            {#                            <a href="{{ path('app_feed_show', {'id': feed.id}) }}">show</a>#}
                            {#                            <a href="{{ path('app_feed_edit', {'id': feed.id}) }}">edit</a>#}
                            {#                        </td>#}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ pagerfanta(pager) }}
            </div>
        </main>
    {% endif %}
{% endblock %}



