{% extends '@backoffice/base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('catalog', null, 'backofficeAppConfig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('catalog', null, 'backofficeAppConfig') }}
{% endblock %}

{% block main %}
    {% if useVue %}
        <div id="app"></div>
    {% else %}
        no vue
    {% endif %}
{% endblock %}

