{% extends '@backoffice/base.html.twig' %}

{% block title %}ConcorsoArticle index{% endblock %}

{% block main %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    {{ include('@cms/_static/flash_message.html.twig') }}
    <h1>ConcorsoArticle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
{#                <th>Content</th>#}
                <th>PublicationStart</th>
                <th>PublicationEnd</th>
                <th>IsDraft</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concorso_article in pager %}
            <tr>
                <td>{{ concorso_article.id | u.truncate(8) }}</td>
                <td>{{ concorso_article.title }}</td>
{#                <td>{{ concorso_article.content }}</td>#}
                <td>{{ concorso_article.publicationStart ? concorso_article.publicationStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ concorso_article.publicationEnd ? concorso_article.publicationEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ concorso_article.isDraft ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('cms_concorso_article_show', {'id': concorso_article.id}) }}">show</a>
                    <a href="{{ path('cms_concorso_article_edit', {'id': concorso_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cms_concorso_article_new') }}">Create new</a>

    {{ pagerfanta(pager) }}
</main>
{% endblock %}
