{% extends '@backoffice/base.html.twig' %}

{% block title %}ConcorsoArticle{% endblock %}

{% block main %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {{ include('@cms/_static/flash_message.html.twig') }}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Concorsi</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <a  href="{{ path('cms_concorso_article_index') }}" class="btn btn-sm btn-outline-secondary" role="button" aria-disabled="false">Lista</a>
                    <a href="{{ path('cms_concorso_article_edit', {'id': concorso_article.id}) }}" class="btn btn-sm btn-outline-secondary" role="button" aria-disabled="false">Modifica</a>
                    {{ include('@cms/concorso_article/_delete_form.html.twig') }}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                    This week
                </button>
            </div>
        </div>

        <h2>Dettaglio articolo</h2>

        <div class="table-striped">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ concorso_article.id }}</td>
                </tr>
                <tr>
                    <th>Titolo</th>
                    <td>{{ concorso_article.title }}</td>
                </tr>
                <tr>
                    <th>Contenuto</th>
                    <td>{{ concorso_article.content | raw }}</td>
                </tr>
                <tr>
                    <th>Pub. inizio</th>
                    <td>{{ concorso_article.publicationStart ? concorso_article.publicationStart|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Pub. fine</th>
                    <td>{{ concorso_article.publicationEnd ? concorso_article.publicationEnd|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Bozza</th>
                    <td>{{ concorso_article.isDraft ? 'Yes' : 'No' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

{#        <a href="{{ path('cms_concorso_article_index') }}">back to list</a>#}

{#        <a href="{{ path('cms_concorso_article_edit', {'id': concorso_article.id}) }}">edit</a>#}

{#        {{ include('@cms/concorso_article/_delete_form.html.twig') }}#}
    </main>
{% endblock %}
